astroid==4.0.4
dill==0.4.1
-e git+file:///Users/svepa/Documents/Repositories/dralithus-core.git@10cb02e6959ce6fca16eb30d5a5af0d23bd6f38b#egg=dralithus_core
isort==8.0.1
librt==0.9.0
mccabe==0.7.0
mypy==1.20.2
mypy_extensions==1.1.0
parameterized==0.9.0
pathspec==1.1.0
platformdirs==4.9.6
pylint==4.0.5
tomlkit==0.14.0
typing_extensions==4.15.0
